.task {
    background-color: indigo;
    border: 0.2rem;
    border-style: solid;
    border-radius: 1rem;
    border-color: indigo;
    color: white;
    cursor: pointer;
    margin: 1rem;
    max-width: 10rem;
    padding: 0 1rem 1rem 1rem;
    text-align: left;
    transition-duration: 0.4s;
}

.task:hover {
    background-color: rgb(0, 81, 128);
    border-color: rgb(0, 81, 128);
}