.status {
    border: 0.2rem;
    border-style: solid;
    border-radius: 1rem;
    border-color: indigo;
    margin: 1rem;
    min-width: 16rem;
    max-width: 20rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    text-align: left;
}

.status-content {
    border: 0;
    max-height: 25rem;
    overflow: auto;
}